{% extends "base.html" %}
{% block content %}
    <div class="specification-content">
        <h1 class="head-title">{{ title }}</h1>
        <div class="specification-title">Страница товаров</div>
        <div class="spetification-product-catalog">
            {% for product in products %}
                <div class="catalog-item">
                    <div class="descripton">
                        <div class="name">{{ product.name }}</div>
                        <div class="article-motrum">Артикул Motrum: {{ product.article }}</div>
                        <div class="article-saler">Артикул Поставщика: {{ product.article_supplier }}</div>
                        {% if additional_article_supplier %}
                            <div class="article-add">Дополнительный Артикул: {{ product.additional_article_supplier }}</div>
                        {% endif %}
                        <div class="price">
                            {% if product.price.rub_price_supplier %}
                                Цена: <span class="price-count">{{ product.price.rub_price_supplier }}</span> ₽
                            {% else %}
                                Цена: <span>По запросу</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="quantity-buttons">
                        <button disabled class="minus-button">-</button>
                        <span>0</span>
                        <button class="plus-button">+</button>
                    </div>
                </div>
            {% endfor %}
            <div class="pagintion">
                {% if products.number == 1 or products.number == 2 or products.number == 3 %}
                {% else %}
                    <a class="first-elem" href="?page={{ 1 }}"><span>1</span></a>
                {% endif %}
                {% for p in products.paginator.page_range %}
                    {% if products.number == p %}
                        <div class="page-num-selected">
                            <span>{{ p }}</span>
                        </div>
                    {% elif p >= products.number|add:-2 and p <= products.number|add:2 %}
                        <a href="?page={{ p }}"><span>{{ p }}</span></a>
                    {% endif %}
                {% endfor %}
                {% if products.number == num_of_pages or products.number == num_of_pages|add:"-1" or products.number == num_of_pages|add:"-2" %}
                {% else %}
                    <a class="last-elem" href="?page={{ num_of_pages }}"><span>{{ num_of_pages }}</span></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
